version: "3.8"
services:
  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - my-network

  statistics-api:
    build:
      context: .
      dockerfile: Statistics/statistics-api.dockerfile
    ports:
      - "5062:5062"
    depends_on:
      - rabbitmq
    networks:
      - my-network
    restart: always

networks:
  my-network:
    driver: bridge
